body {
  background-color: #e8ecef;
  margin: 6% 10%;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

#errMsg {
  color: #b31312;
}
.btn-social {
  /* padding: 8px 100px 8px 60px; */
  margin: 4%;
}

.btn-google {
  padding-right: 27px;
}
.form-group {
  margin-bottom: 15px;
}
